#sandbox {
	background-color: #A4A4A4;
	border: 10px solid #2E64FE;
	width : 350px;
	margin: 0 auto;
	border-radius: 20px;
}

.botones {
	margin: 8px auto 8px auto;
}

.especial,.igual, .mem, .operando{
	font-size: 150%;
	border-radius: 20px;
	width: 60px;
	height: 60px;

 
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
}

.num, #mult, #division, #suma, #resta{
	font-size: 200%;
	border-radius: 20px;
	width: 60px;
	height: 60px;

 
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
}

.num {
	background: #F2F2F2;
	color: #000000;
}

.igual {
	background: #2ECCFA;
	color: #000000;
}

.operando {
	background: #BDBDBD;
	color: #020C2D;
}

.especial, #parentesis_apertura, #parentesis_cierre {
	background: #1C1C1C;
	color: #FFFFFF;
}

.mem, #borrar, #borrar_todo {
	background: #FF4000;
	color: #000000;
}

#display {
	border-radius: 9px;
    border: 8px solid rgba(211,220,240,0.2);
	background-color: #E4DDAA;
	width: 100%;
	margin: 20px auto;
	height: 90px;
	font-size: 200%;
	
}
